.wrapper {
}

.wrapper > div {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.wrapper > div p {
  color: var(--color-blue);
  margin: 5px 10px;
}

.wrapper > div p span {
  font-weight: 500;
  color: var(--color-default);
}
