@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;

  --color-default: #1f1f1f;
  --color-border: #80808033;

  --color-blue: #344d67;
  --color-teal: #6eccaf;
  --color-green: #ade792;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-default);
}
